<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/newEntry.css">
</head>
<body>

  
  <main class="new-entry">
    <section>
      <h3>Billing (Vehicle Wise)</h3>
      <% if (customers.length > 0) { %>
      <form action="/bill-vehicle" method="POST">
        <div class="single_entry">
          <label for="customer">Customer</label>
          <select name="customer" id="customers">
            <% for(customer of customers) { %>
            <option value="<%= customer._id %>"><%= customer.customer_name %></option>

            <% } %>
          </select>
          <input type="hidden" value="<%= customers[0].customer_name %>" name="customerName" id="customerDocument">
        </div>
        <div class="single_entry">
          <label>Period</label>
          <input type="date" name="startingDate">
          <input type="date" name="endingDate">
        </div>
        <div class="single_entry">
          <button>View</button>
        </div>
      </form>
      <% } else { %>
        <h3 class="error">Customers are not present</h3>
      <% } %>
    </section>
  </main>

  <script src="scripts/purchase.js"></script>
<%- include('../includes/end.ejs') %>